.song-pool {

    background-color: #555;

    width: 548px;
    max-width: 548px;
    border-radius: 8px;
    min-height: 175px;
    display: flex;

    flex-wrap: wrap;

    gap: 8px;
    margin-top: 2px;

    padding: 8px;

}